# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python-version:
        - '3.10'
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        exclude:
        - os: windows-latest
          python-version: '3.11'
        - os: macos-latest
          python-version: '3.11'
        - os: windows-latest
          python-version: '3.12'
        - os: macos-latest
          python-version: '3.12'
        - os: windows-latest
          python-version: '3.13'
        - os: macos-latest
          python-version: '3.13'
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        version: 0.9.21
    - name: Install pip dependencies
      run: uv pip install --system https://github.com/WeblateOrg/language-data/archive/main.zip -e .[dev]
    - name: Test
      run: |
        py.test --cov=translation_finder translation_finder README.rst
    - name: Coverage
      run: |
        coverage xml
    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        flags: unittests
        name: Python ${{ matrix.python-version }}, ${{ matrix.os }}
    - name: DeepSource
      if: matrix.os == 'ubuntu-latest'
      continue-on-error: true
      env:
        DEEPSOURCE_DSN: ${{secrets.DEEPSOURCE_DSN}}
      run: |
        curl https://deepsource.io/cli | sh
        ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
permissions:
  contents: read
