# Copyright © Michal Čihař <michal@weblate.org>
#
# SPDX-License-Identifier: GPL-3.0-or-later

name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
        python-version:
        - '3.11'
        - '3.12'
        - '3.13'
        - '3.14'
        exclude:
        - os: windows-latest
          python-version: '3.12'
        - os: macos-latest
          python-version: '3.12'
        - os: windows-latest
          python-version: '3.13'
        - os: macos-latest
          python-version: '3.13'
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: 0.9.28
    - name: Install pip dependencies
      run: uv pip install --system https://github.com/WeblateOrg/language-data/archive/main.zip -e .[dev]
    - name: Test
      run: |
        py.test --cov=translation_finder translation_finder README.rst
    - name: Coverage
      run: |
        coverage xml
    - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        flags: unittests
        name: Python ${{ matrix.python-version }}, ${{ matrix.os }}
    - name: DeepSource
      if: matrix.os == 'ubuntu-latest'
      continue-on-error: true
      env:
        DEEPSOURCE_DSN: ${{secrets.DEEPSOURCE_DSN}}
      run: |
        curl https://deepsource.io/cli | sh
        ./bin/deepsource report --analyzer test-coverage --key python --value-file ./coverage.xml
permissions:
  contents: read
